.inputContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: full;
  padding: 0 8px;
  border: 1px solid #ababab;
  border-radius: 6px;
  background-color: white;

  input {
    flex: 1;
    border: none;
    height: 40px;
    font-size: 14px;

    &:focus {
      outline: transparent;
    }
  }

  &:focus-within {
    border: 1px solid #6ba9d4;
  }

  textarea {
    flex: 1;
    border: none;
    min-height: 100px;
    font-size: 14px;

    &:focus {
      outline: transparent;
    }
  }
}
