.login {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: fit-content;
  height: 100%;
  position: absolute;
  padding: 0px 20px;
  right: 0%;
  z-index: 1000;
}
