.table {
  width: 100%;

  text-align: center;
}

.header {
  height: 48px;

  color: $samsung-logo;
  font-size: 16px;
  font-weight: 600;

  background-color: $itda-background;
}

.body {
  height: 44px;

  color: black;
  font-size: 13px;
  font-weight: 400;

  // border-bottom: 1px solid #f7f7f7;
  cursor: pointer;
}
