.table {
  width: 90%;

  text-align: center;
  margin: 0px auto;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.16);
}

.header {
  height: 61px;

  color: white;
  font-size: 21px;
  font-weight: 600;

  background-color: $itda-blue;
}

.body {
  height: 58px;

  color: black;
  font-size: 18px;
  font-weight: 400;

  border-bottom: 1px solid #9a9a9a;
}
