<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE_NAME" value="my"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- 콘솔에 로그를 남기는 appender -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 파일에 로그를 남기는 appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}backup/app-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://k9c201.p.ssafy.io:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=gateway,host=8000,traceID=%X{traceId:-NONE},level=%level</pattern>
            </label>
            <message>
                <pattern>
                    {
                    "level":"%level",
                    "class":"%logger{36}",
                    "thread":"%thread",
                    "message": "%message",
                    "requestId": "%X{X-Request-ID}"
                    }
                </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <!-- 최상위 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI" />
    </root>
    <logger name="org.springframework.web" level="error">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>