.apiSummaryBox {
  //   border: 2px solid $itda-border;
  border-radius: 0.7rem;
  background-color: #fff;
  padding: 10px 20px;
}

.shortcut {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: 10vw;
}

.goDetail {
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-right: 8px;
  transition: transform 0.3s;

  cursor: pointer;
}

.slick-slider .slick-track span {
  width: 100% !important;
  // overflow: hidden !important;
  // margin: 0 auto !important;
  // /* 위에는 이미지를 div에 꽉 채우기 위한 3가지 설정 */
  // height: 400px !important; /* slick 이미지 height 고정 */
}
