.apiSummaryBox {
  //   border: 2px solid $itda-border;
  border-radius: 0.7rem;
  background-color: #fff;
  padding: 10px 20px;
}

.shortcut {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: 10vw;
}
