.pageContent {
  background-color: #fbfbfb;
  padding-left: 385px;
  padding-top: 110px;
  padding-right: 130px;
  padding-bottom: 45px;
  width: 100%;
  height: 100%;
}

.sideBar {
  padding-top: 65px;
}
