.page {
  background-color: #fbfbfb;
  display: grid;
  grid-template-rows: 65px 1fr;
  width: 100%;
  height: 100vh;
}

.bottomPage {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 255px 1fr;
  width: 100%;
  height: 100%;
}

.pageContainer {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 45px;
  margin-bottom: 45px;
  min-height: 45px;
}
