.hover {
  &:hover {
    border: 2px solid $samsung-logo;
    color: $samsung-logo;
    cursor: pointer;
  }
}

.hover2 {
  color: #17468f;
  background-color: rgba(23, 70, 143, 0.2);

  &:hover {
    color: #ffffff;
    background-color: rgba(23, 70, 143, 0.8);
    cursor: pointer;
  }
}
