.page {
  background-color: #fbfbfb;
  display: flex;
  width: 100%;
}

.pageContainer {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 60px;
  border: 1px solid #9a9a9a;

  width: 100%;
}
