// .page {
//   background-color: #fbfbfb;
//   display: flex;
//   width: 100%;
// }

.pageContainer {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;
}

.firstPart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */

  &:hover .imgContainer {
    transform: scale(1.1); /* 호버 상태에서 크기를 확대 */
    cursor: pointer; /* 호버 시 커서를 손 모양으로 변경 */
  }
}

.cardtitle {
  margin-top: 15px;
  font-size: 23px;
  font-weight: 500;
  color: $itda-secondary;
  cursor: pointer; /* 호버 시 커서를 손 모양으로 변경 */

  // cardContainer가 hover일 때 imgContainer에 적용될 스타일
  & ~ .imgContainer {
    transition: transform 0.3s; /* 호버 효과를 부드럽게 만들기 위한 트랜지션 설정 */
  }
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  transition: transform 0.3s; /* 호버 효과를 부드럽게 만들기 위한 트랜지션 설정 */
}

.iconImg {
  width: 145px;
  height: 150px;
  margin: 10px;
}

.secondPart {
  margin-top: 10px;
}

.contents {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.secondContent {
  display: grid;
  grid-template-columns: 75px 870px 40px 25px 100px;
  padding: 5px 0px;
  border-bottom: 0.5px solid #eaeaea;
}

.secondInContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdPart {
  margin-top: 10px;
}
.thirdContent {
  display: grid;
  grid-template-columns: 750px 60px 80px 25px 195px;
  padding: 5px 0px;
  border-bottom: 0.5px solid #eaeaea;
}
.thirdInContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partTitle {
  font-size: 30px;
  font-weight: 600;
  color: $itda-text;
}
